* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 10%;
  margin: 40px 120px;
}

body {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  color: white;
  margin: 40px 120px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.welcome h1 {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 45px;
  margin-bottom: 50px;
}

.welcome h2 {
  color: #d20094;
  margin-bottom: 10px;
  font-weight: 700;
}

.welcome ul {
  margin: 30px;
}

.welcome ul li {
  padding: 5px 0;
}

.proceed {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 130px;
  align-items: center;
}

.checkbox {
  position: relative;
  display: flex;
  gap: 10px;
}

.welcome button {
  padding: 20px 60px;
  border: none;
  background-color: #00ffff;
  font-size: large;
  font-weight: 800;
  box-shadow: 0px 0px 40px #00ffff;
}

.domanda h1{
  color: white;
  text-align: center;
  margin-top: 7%;
  font-size: 60px;
}
.contenitore{
display: flex;
flex-direction: column;
align-items: center;


}
.bottoniRisposta{
  margin-top: 4%;
  display: flex;
  justify-content: center;
  width: 55%;
  flex-wrap: wrap;

}
.bottoniRisposta button{
  height: 50px;
  width: 280px;
  font-size: 15px;
  border-radius: 50px;
  margin-inline: 10px;
  margin-block: 8px;
  border: white 2px;
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  
}
button:hover{
  background-color: #d20094;
}
